@import '~bootstrap/scss/bootstrap';

// sass-lint:disable no-ids

$light-blue: #ccf;
$dark-blue: #55f;
$green: #2f2;
$red: #f22;

$primary-color: #9a60b7;
$secondary-color-a: #6f6dbe;
$secondary-color-b: #e97596;
$complementary-color: #fdfe7f;

$k-blue: #199292;
$k-pieces: #098e11;

// Make X and O different colors

body {
  margin: 10px;
  background-color: adjust-color($secondary-color-b, $lightness: 20%);
}

.wrapper {
  display: flex;
  // align-items: stretch;
  width: 100%;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;
}

// sass-lint:disable force-element-nesting
#sidebar.active {
  margin-left: -250px;
}


.board-square {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid $secondary-color-a;
  background-color: adjust-color($secondary-color-a, $lightness: 20%);
  padding: 1em;
  // width: 200px;
  height: 120px;
  // width: auto;
  color: $complementary-color;
  font-size: 40px;
}

.success {
  color: $green;
}

.failure {
  color: $red;
}
