@import '~bootstrap/scss/bootstrap';

// sass-lint:disable no-ids

$light-blue: #ccf;
$dark-blue: #55f;
$green: #2f2;
$red: #f22;

$primary-color: #9a60b7;
$secondary-color-a: #6f6dbe;
$secondary-color-b: #e97596;
$complementary-color: #fdfe7f;

$transparent: rgba(0, 0, 0, .15);

// Make X and O different colors?

header {
  text-align: center;
}

body {
  margin: 10px;
  background-color: adjust-color($secondary-color-b, $lightness: 20%);
}

.wrapper {
  display: flex;
  align-items: stretch;

  width: 90%;
}

#sidebar {
  position: fixed;
  align-items: stretch;
  transition: .5s;
  z-index: 1;
  background: $secondary-color-b;
  padding: 5px;

  min-width: 250px;
  max-width: 250px;
  min-height: 100vh;

}

// sass-lint:disable force-element-nesting
#sidebar.hidden {
  margin-left: -260px;
}

.board {
  margin: auto;

  // max-width: calc(100vh - 75px);
  // max-height: calc(100vh - 75px);

}

.board-square {
  display: flex;
  align-items: center;
  justify-content: center;

  // border: 4px solid $secondary-color-a;
  border-right: 4px solid $secondary-color-a;
  border-bottom: 4px solid $secondary-color-a;

  background-color: adjust-color($secondary-color-a, $lightness: 20%);
  padding: 1em;

  min-width: calc(80vw / 3);
  min-height: calc(80vw / 3);
  // height: 120px;
  // width: auto;
  // font-size: 40px;
  text-shadow: 4px 3px $transparent;
  color: $complementary-color;

  font-size: 5vh;
  user-select: none;

  &:nth-child(3n) {
    border-right: 0;
  }

  &:nth-last-child(-n + 3) {
    border-bottom: 0;
  }
}

.success {
  color: $green;
}

.failure {
  color: $red;
}
