@import '~bootstrap/scss/bootstrap';

$light-blue: #ccf;
$green: #2f2;
$red: #f22;

body {
  margin: 10px;
}

.board-square {
  background-color: $light-blue;
  padding: 20px;
}

.success {
  color: $green;
}

.failure {
  color: $red;
}
